<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<th:block th:fragment="header">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="navbar-brand" th:href="@{/news}">News App</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li th:class="${index eq 1}? 'active': null">
                <a th:href="@{/news}">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li th:class="${index eq 2}? 'active': null">
                <a th:href="@{/news/addStory}">
                    <i class="fa fa-plus"></i> Add Story
                </a>
            </li>
        </ul>
    </nav>

</th:block>
</body>
</html>