<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>

<th:block th:fragment="htmlView" th:inline="text">
    <div class="row">
        <div class="col-sm-12 text-center" style="font-weight: bold;font-size:17px;">
            [[${news.title}]] <span style="font-size: 13px;font-weight: normal"> - <i>[[${news.author}]]</i></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <pre>[[${news.body}]]</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="pull-right"  style="font-style: italic;font-size:13px;" th:inline="text">
                Published on: [[${#dates.format(news.publishDate, 'dd MMM, yyyy')}]]
            </p>
        </div>
    </div>
</th:block>

</body>
</html>